extends layout

block content
  header
    h1= title
    p= desc

  section.pure-g#welcome
    article.pure-u-1
      img(src='/images/meet-me-remarks.jpg').pure-img.animated.swing#meet-me-img
      img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg').pure-img#doorway-img

  section.pure-g#main
    article.pure-u-1#banner

    article.pure-u-1.pure-u-sm-1-8.pure-u-md-1-6
      p= "Hello left!"

    article.pure-u-1.pure-u-sm-3-4.pure-u-md-1-3
      p= "Center works!"

    article.pure-u-1.pure-u-sm-1-8.pure-u-md-1-6
      p= "Hello right!"